

#content {
  width: 90%;
  max-width: 720px;
  margin: 0 auto 30px;
}

.logo {
  display: block;
  background-color: #D9DFE1;
  width: 240px;
  max-width: 90%;
  padding: 80px 20px 20px;
  border-radius: 0 0 20px 20px;
  border: 1px solid white;
  border-top: 10px solid #E83C3F;
  margin: -5px 0 40px;
  box-shadow: 0px 5px 10px #999;
}

.logo img {
  margin: 0;
  filter: drop-shadow(0 0 15px #fff);
}

.main {
  margin-bottom: 10px;
}

.contact a {
  margin-right: 10px;
}

#info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}


#info .icon {
  padding: 6px;
  width: 48px;
  height: 48px;
  border-radius: 36px;
  background-color: #313439;
  margin-right: 10px;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) and (min-aspect-ratio: 16/9) {
  body {
    background: fixed url(../img/photo-bg.jpg) right/contain no-repeat;
  }

  #content {
    margin-left: 120px;
  }

  .logo {
    margin: -5px 0 80px;
  }

  .main {
    margin-bottom: 80px;
  }
}